.thead-dark{
    background-color: aqua !important;
}
.table{
    max-width: 800px !important;
    margin-top: 50px !important ;
    margin: auto;
    /* height: 730px; */
    padding: 40px 30px;
    background-color: #E4F6E3 ;
    border-radius: 10px;
    overflow: auto;

}
.tableLabel{
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.text-truncate{
    max-width: 10px !important;
}
.btn-primary{
    margin: 20px;
}

.info-container {
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 5px; 
    margin: 10px; 
  }
  
  .info-item {
    margin: 5px 0; 
    font-size: 16px; 
    color: #333;
  }
 
  .info-item:nth-child(2) {
    font-weight: bold; 
  }
  .info-item:last-child{
    font-weight: bold; 
  }
  .highlightGreen{
    color:green;
  }
  .highlightRed{
    color:red;
  }